<div class="alert alert-danger" role="alert"><i class="bi bi-screwdriver"></i> Houve um erro interno <br> tente novamente mais tarde <br><br>
    Caso o erro persista, contate o administrado do sistema, informando o seguinte assunto : <b>{{erro|raw}}</b>
</div>
