<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); background-color: #F8F9FA ;"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/veterinaria/paginas/inicial"><i
                    class="bi bi-house-door-fill"></i></a></li>
        <li class="breadcrumb-item" aria-current="page">Atendimentos</li>
        <li class="breadcrumb-item" aria-current="page">Listagem</li>
    </ol>
</nav>

<div class="container-fluid d-flex justify-content-center align-items-center mt-2">
    <div class="card rounded" style="min-width: 100%;">
        <div class="card-body border border-1S rounded-2">

            <div class="row">
                <div class="col">
                    <button type="button" onclick="openCadastro()" class="btn btn-success"><i
                            class="bi bi-plus-circle"></i> Novo </i></button>
                            <button type="button" onclick="gerarCSVAtendimentos()" class="btn btn-secondary">
                                <i class="bi bi-filetype-csv"></i> Exportar Excel </i></button>
                    <hr>
                </div>
            </div>

            <table id="gridDataTable" class="table table-striped table-hover table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align: center; min-width: 150px">Código</th>
                        <th style="text-align: center; min-width: 150px">Data</th>
                        <th style="text-align: center; min-width: 200px">Nome do Animal</th>
                        <th style="text-align: center; min-width: 200px">Espécie do Animal</th>
                        <th style="text-align: center; min-width: 200px">Raça do Animal</th>
                        <th style="text-align: center; min-width: 170px">Sexo do Animal</th>
                        <th style="text-align: center; min-width: 170px">Castrado</th>
                        <th style="text-align: center; min-width: 170px">Idade - Anos</th>
                        <th style="text-align: center; min-width: 170px">Idade - Meses</th>
                        <th style="text-align: center; min-width: 170px">Idade - Dias</th>
                        <th style="text-align: center; min-width: 200px">Proprietário do animal</th>
                        <th style="text-align: center; min-width: 200px">Veterinário Remetente</th>
                        <th style="text-align: center; min-width: 200px">Município do Origem</th>
                        <th style="text-align: center; min-width: 1000px">Material Recebido</th>
                        <th style="text-align: center; min-width: 1000px">Diagnóstico Presuntivo</th>
                        <th style="text-align: center; min-width: 200px">Avaliação Tumoral com Margem</th>
                        <th style="text-align: center; min-width: 1000px">Epidemiologia e História Clínica</th>
                        <th style="text-align: center; min-width: 1000px">Lesões Macroscópias</th>
                        <th style="text-align: center; min-width: 1000px">Lesões Histológicas</th>
                        <th style="text-align: center; min-width: 1000px">Diagnóstico</th>
                        <th style="text-align: center; min-width: 1000px">Relatório</th>
                        <th style="text-align: center; min-width: 200px">Usuário de Cricação</th>
                        <th style="text-align: center; min-width: 200px">Último usuário de Alteração</th>
                    </tr>
                    <tr style="vertical-align: middle">
                        <th><input id="pesquisaCodigoAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>


                        <th><div class="form-floating"><input type="date" class="form-control form-control-sm" id="pesquisaDataAtendimentoInicio"><label for="floatingInputValue">De:</label> <div class="form-floating"><input type="date" class="form-control form-control-sm" id="pesquisaDataAtendimentoFim"><label for="floatingInputValue">Até:</label></th>
                        
                        <th><input id="pesquisaNomeAnimalAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th><input id="pesquisaEspecieAnimalAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th><input id="pesquisaRacaAnimalAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th>
                            <select class="form-select form-select-sm" id="pesquisaSexoAnimalAtendimento">
                                <option value="">Todos...</option>
                                <option value="M">Macho</option>
                                <option value="F">Fêmea</option>
                              </select>
                        </th>

                        <th>
                            <select class="form-select form-select-sm" id="pesquisaCastrado">
                                <option value="">Todos...</option>
                                <option value="S">Sim</option>
                                <option value="N">Não</option>
                              </select>
                        </th>

                        <th><div class="form-floating"><input type="number" class="form-control form-control-sm" id="pesquisaIdadeAnoInicio"><label for="floatingInputValue">De:</label> <div class="form-floating"><input type="number" class="form-control form-control-sm" id="pesquisaIdadeAnoFim"><label for="floatingInputValue">Até:</label></th>
                        <th><div class="form-floating"><input type="number" class="form-control form-control-sm" id="pesquisaIdadeMesInicio"><label for="floatingInputValue">De:</label> <div class="form-floating"><input type="number" class="form-control form-control-sm" id="pesquisaIdadeMesFim"><label for="floatingInputValue">Até:</label></th>
                        <th><div class="form-floating"><input type="number" class="form-control form-control-sm" id="pesquisaIdadeDiaInicio"><label for="floatingInputValue">De:</label> <div class="form-floating"><input type="number" class="form-control form-control-sm" id="pesquisaIdadeDiaFim"><label for="floatingInputValue">Até:</label></th>

                        <th><input id="pesquisaDonoAnimalAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th><input id="pesquisaVeterinarioAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th><input id="pesquisaMunicipioOrigemAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th><input id="pesquisaMaterialAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th><input id="pesquisaDiagnosticoPresuntivoAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th>
                            <select class="form-select form-select-sm" id="pesquisaAvalicaoTumoralAtendimento">
                                <option value="">Todos...</option>
                                <option value="S">Sim</option>
                                <option value="N">Não</option>
                              </select>
                        </th>
                        <th><input id="pesquisaEpidemiologiaAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th><input id="pesquisaLesoesMacrocospiasAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th><input id="pesquisaLesoesHistologicasAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th><input id="pesquisaDiagnosticoAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th><input id="pesquisaRelatorioAtendimento" placeholder="Pesquisar..." class="form-control form-control-sm" /></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>