<div class="container">
    <div class="row">
        <form id="formBuscaRapidaAnimal" class="row mb-2">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Nome do animal: </label>
                    <input type="text" class="form-control" id="nmAnimalModal" name="nmAnimalModal">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="especieModal" class="form-label" style="margin-bottom: -2px;">Espécie: </label>
                        <select class="form-select" id="especieModal" name="especieModal">
                        </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="racaModal" class="form-label" style="margin-bottom: -2px;">Raça: </label>
                        <select class="form-select" id="racaModal" name="racaModal">
                        </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="donoAnimalModal">Tutor: </label>
                    <input type="text" class="form-control" id="donoAnimalModal" name="donoAnimalModal">
                </div>
            </div>
            <div class="col-md-12 d-flex mt-2 align-items-end">
                <button class="btn btn-outline-primary p-3 lh-1" onclick="BuscarRapidaAnimal()" type="button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
        <hr>
    </div>
        <div class="row">
            <div class="col">
            <table id="gridDataTableBuscaRapidaAnimal" class="table table-striped table-hover table-bordered default-datatable" style="width:100%;">
                <thead>
                    <tr>
                        <th style="text-align: center;">Nome do Animal</th>
                        <th style="text-align: center;">Espécie</th>
                        <th style="text-align: center;">Raça</th>
                        <th style="text-align: center;">Tutor</th>
                        <th style="text-align: center;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        </div>
</div>