<div class="container">
    <div class="row">
        <form id="formBuscaRapidaPessoa" class="row mb-2">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nmPessoa">Nome: </label>
                    <input type="text" class="form-control" id="nmPessoaModal" name="nmPessoaModal">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cpfPessoa">CPF: </label>
                    <input type="text" class="form-control" id="cpfPessoaModal" name="cpfPessoaModal" placeholder="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="dataNascimento">Data de Nascimento: </label>
                    <input type="date" class="form-control" id="dataNascimentoModal" name="dataNascimentoModal" placeholder="">
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-end">
                <button class="btn btn-outline-primary p-3 lh-1" onclick="BuscarRapidoPessoa()" type="button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
        <hr>
        <div class="col-md-12">
            <table id="gridDataTable" class="table table-striped table-hover table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th style="text-align: center;">Nome</th>
                        <th style="text-align: center;">CPF</th>
                        <th style="text-align: center;">Data de Nascimento</th>
                        <th style="text-align: center;">Ações</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>