<div class="row">
    <div class="col">
        <form id="formCadastroEspecie">
            <div class="form-group">
                <div class="form-floating mb-3">
                    <input type="text" readonly class="form-control-plaintext" id="cdEspecie" name="cdEspecie" value="{{codigo}}">
                    <label for="cdEspecie">Código: </label>
                  </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="especie" name="especie" value="{{descricao}}"
                        placeholder="">
                    <label for="especie">Nome da Espécie: </label>
                </div>
                <label for="select2cdTipoAnimal">Selecione o animal que pertece a essa Espécie</label> 
                <div class="form-floating mb-3">   
                    <select class="form-select" id="select2cdTipoAnimal" name="select2cdTipoAnimal"></select>
                </div>

                {{select|raw}}

                <hr>

                {% if exibirExcluir %}
                <div class="row">
                    <div class="col mb-2"><button id="btnExcluir" onclick="excluirCadastroEspecie()" class="btn btn-danger w-100" type="button"><b><i class="bi bi-trash3-fill"></i> Excluir</b></button></div>
                </div>
                {% endif %}
                {% if exibirSalvar %}
                <div class="row">
                    <div class="col"><button id="btnSalvar" onclick="salvarCadastroEspecie()" class="btn btn-primary w-100" type="button"><i class="bi bi-floppy2-fill"></i> <b>Salvar</b></button></div>
                </div>
                {% endif %}

            </div>
        </form>
    </div>
 </div>