<div class="row">
    <div class="col">
        <form id="formCadastroRaca">
            <div class="form-group">
                <div class="form-floating mb-3">
                    <input type="text" readonly class="form-control-plaintext" id="cdRaca" name="cdRaca" value="{{codigo}}">
                    <label for="cdRaca">Código: </label>
                  </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="raca" name="raca" value="{{descricao}}"
                        placeholder="">
                    <label for="raca">Nome da Raça </label>
                </div>
                <label for="select2cdEspécie">Espécie da Raça</label>    
                    <select class="form-select" id="select2cdEspecie" name="select2cdEspecie">
                        {{selectEspecie|raw}}
                    </select>

                    <br>

                {{selectAtivo|raw}}

                <hr>

                {% if exibirExcluir %}
                <div class="row">
                    <div class="col mb-2"><button id="btnExcluir" onclick="excluirCadastroRaca()" class="btn btn-danger w-100" type="button"><b><i class="bi bi-trash3-fill"></i> Excluir</b></button></div>
                </div>
                {% endif %}
                {% if exibirSalvar %}
                <div class="row">
                    <div class="col"><button id="btnSalvar" onclick="salvarCadastroRaca()" class="btn btn-primary w-100" type="button"><i class="bi bi-floppy2-fill"></i> <b>Salvar</b></button></div>
                </div>
                {% endif %}

            </div>
        </form>
    </div>
 </div>