<div class="row">
        <form id="resetarSenha">
            <div class="form-floating mb-3">
                <input type="text" readonly class="form-control-plaintext" name="usuarioConfirma" value="{{usuarioConfirma}}" id="usuarioConfirma" >
                <label for="usuarioConfirma">Confirme seu Usuário: </label>
              </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="senhaAtual"
                    name="senhaAtual" placeholder="">
                <label for="senhaAtual">Informe a Senha Atual</label>
            </div>
            <br>
            <br>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="novaSenha"
                    name="novaSenha" placeholder="">
                <label for="novaSenha">Informe a Nova Senha</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="repitaSenha"
                    name="repitaSenha" placeholder="">
                <label for="repitaSenha">Repita a Nova Senha</label>
            </div>

        </form>
</div>