<div class="container-fluid d-flex justify-content-center align-items-center mt-2" style="height: 100vh;">
    <div class="card rounded" style="min-width: 100%;">
        <div class="card-body border border-1S rounded-2 justify-content-center align-items-center w-auto h-auto">
            <div class="text-center w-auto">
                <h1>Você não tem permissão para acessar esta tela</h1>
            </div>
            <br>
            <div class="text-center">
                <a class="btn btn-warning call-screen" type="button"
                    href="/veterinaria/paginas/inicial" style="width: 30%;"><i class="bi bi-sign-turn-left-fill"></i>
                    <b>Voltar</b></a>
            </div>
        </div>
    </div>
</div>