<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'importadoresLink.twig' %}
    {% set cssArray = cssLinks | split(';') %}
  {% for link in cssArray %}
    <link href="/veterinaria/public/css/{{ link }}" rel="stylesheet">
  {% endfor %}
</head>

<body>

    <div class="loading-screen" id="loading">
        <div class="text-center text-white">
          <div class="spinner-border" role="status">
          </div>
          <div class="mt-3">Carregando...</div>
        </div>
      </div>

      {{ conteudo_tela|raw }}

</body>
{% include 'importadoresScript.twig' with {'versao': versao} %}
{% set jsArray = jsLinks | split(';') %}
  {% for link in jsArray %}
 <script src="/veterinaria/public/js/{{ link }}?v={{versao}}"></script>    
  {% endfor %}
</html>